@{
    ViewData["Title"] = "Welcome Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To the best Renting House in Bulgaria</p>
</div>

<style>
    body {
        margin: auto;
        background-color: whitesmoke;
    }
    h1{
        padding:20px;
    }
    .text-center{
        margin-top:70px;
        border: 1px solid black;
        color: #ffa31a;
        background-color: black;
        border-radius: 10px;
    }
</style>