@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    <p>This is a project created by us. <span id="free">Free</span> to use!</p>
</div>

<style>
     body {
         margin: auto;
         background-color: whitesmoke;
     }

     h1 {
         padding: 20px;
     }

     .text-center {
         margin-top: 70px;
         border: 1px solid black;
         color: #ffa31a;
         background-color: black;
         border-radius: 10px;
     }
     #free{
        border: 1px solid #292929;
        padding: 5px;
        border-radius: 10px;
        background-color: #292929;
     }
</style>
